<div class="container">
  <h1 class="page-header">Relação de Tarefas</h1>
  <div class="panel panel-default">
          <div class="panel-heading headertable"> Cadastro de tarefas </div>
          <div class="panel-body">
              
              <table class="table table-bordered">
                      
                      <thead>
                          <tr>
                              <th class="col-sm-3 text-center">Responsável</th>
                              <th class="col-sm-2 text-center">Email do responsável</th>
                              <th class="col-sm-3 text-center">Descrição</th>
                              <th class="col-sm-2 text-center">Status</th>
                              <th class="col-sm-2 text-center">Ação</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><input type = "text" class="form-control" ng-model="responsibleInput" id="responsibleInput"/></input></td>
                              <td><input type = "text" class="form-control" ng-model="responsibleEmailInput" id="responsibleEmailInput"/></input></td>
                              <td><input type = "text" class="form-control" ng-model="descriptionInput" id="descriptionInput"/></input></td>
                              <td> <select  ng-model="selectStatus" id="selectStatus" class="form-control" ng-options="option.label for option in options"></select></td>
                              <td class="text-center">
                              <button class="btn btn-sm btn-default" type="button" name="button" ng-click="incluir()"> <span class="glyphicon glyphicon-plus"></span> Incluir</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading headertable"> Tarefas cadastradas </div>
      <div class="panel-body" style="overflow: scroll; height: 300px;">
      
          <table class="table table-bordered" style="height: 280px;" >
                  
              <thead>
                  <tr>
                      <th class="col-sm-3 text-center">Responsável</th>
                      <th class="col-sm-2 text-center">Email do responsável</th>
                      <th class="col-sm-3 text-center">Descrição</th>
                      <th class="col-sm-2 text-center">Status</th>
                      <th class="col-sm-2 text-center">Ação</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="task in tasks">
                      <td class="text-center vertical-text-align">{{task.responsible}}</td>
                      <td class="text-center vertical-text-align"><span class="label label-default">{{task.responsibleEmail}}</span></td>
                      <td class= "text-center vertical-text-align"><span class="label label-default">{{task.description}}</span></td>
                      <td class="text-center vertical-text-align"><span class="label label-default">{{task.status}}</span>
                      </td>
                      <td class="text-center vertical-text-align">
                          <button class="btn btn-sm btn-default" ng-click="modalEditar(task)" type="button" name="button"> <span class="glyphicon glyphicon-pencil"></span> Editar</button>
                          <button class="btn btn-sm btn-default" ng-click="remover(task)" type="button" name="button"> <span class="glyphicon glyphicon-trash"></span> Excluir</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>